<!--Zaryab Index page Css code starts from here-->
#body-index{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.animation
{
    animation: colorchange 1s infinite;

}
@keyframes colorchange
{
    0%{color: white;}
    25%{color: skyblue;}
    50%{color: purple;}
    100%{color: skyblue;}
}
.Button-index
{
    color: skyblue;
    cursor:pointer;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s,border 0.2s,color 0.2s;
}
.Button1-index:hover
{
    background-color: white;
}
.Button1-index
{
    background-color: transparent;
    border:1px solid;
}
.Button2-index
{
    background-color: transparent;
    border:1px solid;
}
.Button3-index
{
    background-color: transparent;
    border:1px solid;
}

.Button2-index:hover
{
    background-color: white;
}
.Button3-index:hover
{
    background-color: white;
}
#body-index{
    font-size:20px;

    color:white;
}

.row{
    max-width:1180px;
    margin:0 auto;
}

.main-nav-index {
    float:right;
    margin-top:60px;
}
.main-nav-index li{
    display:inline-block;
    list-style: none;
    margin-left: 40px;
}
.main-nav-index li a{
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-size:90%;
    font-weight:100;
}

.h1-index{
    color:#fff;
    font-size:200%;
    word-spacing:1px;
    letter-spacing:3px;

}

#body-index{
    color:#ffff;
}
.borderr{
    border:1px solid red;
}
.user-index{
    color: navajowhite;
}
#head-index{
    background-color: #eaedf2;
}
img{
    height: 80px;
}
.change2-index{
    color:teal;
}
.borderrr{
    border:1px solid green;
}
.change-index{
    color :red;
    font-weight: bold;
}

#footer-index{
    /*background-color: black;*/
    height: 200px;
}
#footer-design-border{

}
#search_tag-index{
    padding-top: 120px;
    padding-bottom:100px;
    padding-left: 90px;
}
.font-index
{
    font-family: cursive;
}
#body-index{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../media/background.jpg");
    background-size: cover;
    /*background-color: red;*/
    background-position: center;
    background-repeat: no-repeat;
}
#bttn-index {
    padding-top: 25px;
}
#find-index{
    padding-top:30px;
}
#Name-index{
    padding-top: 30px;
}

#image{
    max-width: 100%;

}

@media only screen and (max-width:1000px) {
    #body-index {
        /*background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("../media/md background.jpg");*/
        background-color:black;
    }
}
<!-- index page css code end here-->
<!--Now you have add your css file code here with this format-->
/*ali code(contact us page)*/
@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}
button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.contactbtnbg
{
    display: block;
    position: relative;
    /*z-index: 1;
    */
    border-radius: 25px;

    width: 224px;
    overflow: hidden;
}
.contactformbtn1
{
    position: absolute;

    width: 300%;
    height: 100%;

}


.contactformbtn2
{

    background: #39b54a;
    min-width: 224px;
    height: 50px;

    font-family: Poppins-Medium;
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
}
.contactformback2
{
    margin:0;
    padding:0;

    background-size: auto;
    font-family: sans-serif;
    background-color: white;
    position: absolute;
    padding: 102px 15px 63px 65px;
    font-size: 30px;
    left: 63%;
    min-width: 140px;
    width: 530px;
    height: 900px;
}



.mapouter{text-align:right;height:900px;width:1598px;}
.gmap_canvas {overflow:hidden;background:none!important;height:900px;width:1598px; z-index: -4;}
.contactnumber{
    font-family: Poppins-Medium;
    font-size: 23px;
    color: #fff;

    position: fixed;
    z-index: +2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:right ;
    align-items: right;
    min-width: 220px;
    height: 43px;
    border-radius: 25px;
    background-color: #39b54a;
    padding: 0 20px;

    top: 90%;
    left: calc((108% - 940px) / 2);
    -webkit-transform: translate(-70%, -50%);
    -moz-transform: translate(-70%, -50%);
    -ms-transform: translate(-70%, -50%);
    -o-transform: translate(-70%, -50%);
    transform: translate(-40%, -20%);
}
.contactemail {
    font-family: Poppins-Medium;
    font-size: 23px;
    color: #fff;

    position: fixed;
    z-index: +1;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:right ;
    align-items: right;
    min-width: 220px;
    height: 45px;
    border-radius: 25px;
    border-top-style: 20px;
    background-color: #39b54a;
    padding: 0 20px;

    top: 90%;
    left: calc((150% - 940px) / 2);
    -webkit-transform: translate(-70%, -50%);
    -moz-transform: translate(-70%, -50%);
    -ms-transform: translate(-70%, -50%);
    -o-transform: translate(-70%, -50%);
    transform: translate(-40%, -20%);
}

.ContactInputLabel
{
    display: inline-block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 22px;

    color: #555555;
    line-height: 1.2;
    padding: 0 2px;

}


textarea.contactinputlabel1 {

    min-height: 140px;
    padding-bottom: 13px;
    display: block;
    width: 100%;
    background: transparent;
    font-family: Poppins-Regular;
    font-size: 22px;

    color: #555555;
    line-height: 1.2;

}

.ContactLabel
{
    font-family: Poppins-Bold;
    font-size: 20px;

    color: #999999;
    line-height: 1.2;
    padding-left: 2px;
}
.contacttitle
{
    display: block;
    width: 100%;
    font-family: Poppins-Bold;
    font-size: 49px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 64px;
}
.contactinput{
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 15px;
    display: -webkit-box;
    justify-content: space-between;
    padding-bottom: 1px;
    font-family: Poppins-Regular;
    padding-left: -52px;
}
.contactinput1{
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 45px;
    display:block;

    justify-content: space-between;
    padding-bottom: 2px;
    font-family: Poppins-Regular;
    padding-left: -52px;
}
textarea{
    min-width: 380px;
    height: 200px;
    outline: none;
    border:none;

}
textarea.contactinput1{
    min-height: 140px;
    padding-top: 13px;
    padding-bottom: 13px;
}
input {
    outline: none;
    border: none;
}
/*Contact us ends here*/

/*Areej CSS code starts from here change password*/


.bg_forgotPassword{background: url('http://www.mandolinistibustesi.it/wp-content/uploads/2015/08/sfondo_nero.jpeg')no-repeat;
    background-size:cover; width: 100%;height: 100vh;
    background-position: center center;
}
.form-container_forgotPassword{border: 0px solid #fff;
    padding: 50px 40px; margin-top: 15vh; margin-bottom: 15vh;
    -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
.text_color_forgotPassword {
    color: #fff;}
.icon-color_forgotPassword{
    color: green;
}
.form-group_forgotPassword {
    margin-bottom: 1rem;
}
/*Change password ends here*/